<template>
  <v-app app>
    <v-app-bar app>
      <v-toolbar-title>
        My Deli
      </v-toolbar-title>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt></nuxt>
      </v-container>
    </v-content>
    <v-footer>
      <span>Footer</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'Default'
}
</script>

<style lang="scss" scoped></style>
