<template>
  <v-row>
    <v-col>
      <div>
        <h1></h1>
      </div>
      WELCOME PAGE TEST
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Index'
}
</script>

<style lang="scss" scoped></style>
